@font-face {
  font-family: "MyFont";
  src: url("/fonts/LINESeed.ttf") format("trueType");
}

:root {
  --bg-main: #282c34;
  --bg-sub: #49515f;
  --text-main: #ffffff;
  --text-sub: #9da5b4;
  --border: #9da5b4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--bg-main);
  color: var(--text-main);
  overflow: hidden;
}

body,
input,
button,
select,
textarea {
  font-size: 16px;
  font-family: "MyFont", sans-serif;
}

.container {
  width: 100%;
  height: 100vh;
  padding: 30px;
}

.hide {
  display: none;
}
