.study-setup {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.study-setup__group {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 17px 15px;
  border: solid 1px var(--text-sub);
  border-radius: 5px;
}

.study-setup__title {
  margin: 0 0 10px 0;
  text-box: trim-both cap alphabetic;
}

.study-range-select {
  width: 100%;
  padding: 3px 5px 4px 5px;
  outline: none;
}

.study-setup__action {
  text-align: center;
}

.submit-button {
  padding: 8px 15px;
}
