.study-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 10px 0;
}

.study-question__progress {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.study-question__progress__index {
  text-align: center;
}

.study-question__progress__bar {
  width: 100%;
  height: 6px;
  border-radius: 3px;
  background: linear-gradient(to right, var(--text-main) 0% var(--rate), var(--bg-sub) var(--rate) 100%);
}

.study-question__word {
  padding: 30px 0;
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  white-space: nowrap;
}

.study-answer {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.study-answer__option {
  display: flex;
  align-items: center;
  height: 60px;
  padding: 0 20px;
  background: transparent;
  border: solid 1px var(--border);
  border-radius: 30px;
  color: var(--text-main);
}

.study-answer__option:disabled {
  color: var(--text-sub);
}

.study-answer__means {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  position: relative;
  height: 185px;
  padding: 0 20px;
  margin: 0 0 20px 0;
  border: solid 1px var(--border);
  border-radius: 30px;
}

.study-answer__means.hidden .study-answer__mean {
  opacity: 0;
}

.study-answer__means.hidden::after {
  content: "タップして答えを表示";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
}

.study-answer__mean {
  display: flex;
  align-items: center;
  line-height: 1.3;
  transition: all 0.1s;
}

.study-answer__mean .part {
  flex-shrink: 0;
  width: 1.4rem;
  height: 1.4rem;
  margin: 0 8px 0 0;
  border: solid 1px var(--text-main);
  font-size: 0.85rem;
  text-align: center;
  line-height: 1.4rem;
}
