.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  height: 100%;
}

.study-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px 0 40px 0;
}

.study-main {
  text-align: center;
}

.study-main__progress-index {
  margin: 0 0 2px 0;
  font-size: 0.9rem;
}

.study-main__progress-bar {
  display: inline-block;
  width: calc(100% - 20px);
  height: 8px;
  background: linear-gradient(to right, var(--text-main) var(--rate), var(--bg-sub) var(--rate) 100%);
  border-radius: 4px;
}

.study-main__word {
  margin: 40px 0 0 0;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
}

.study-answer {
  margin: 50px 0 0 0;
}

.study-answer__quiz,
.study-answer__sort {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.study-answer__option {
  display: grid;
  align-items: center;
  justify-items: center;
  width: 100%;
  height: 60px;
  padding: 0 20px;
  border: solid 1px var(--text-sub);
  border-radius: 30px;
  line-height: 1.3;
}

.study-answer__separator {
  margin: 10px 0;
  pointer-events: none;
}

.study-answer__option.unknown {
  color: var(--text-sub);
}

.study-answer__means {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  height: 220px;
  padding: 25px;
  border: solid 1px var(--text-sub);
  border-radius: 30px;
}

.study-answer__means::after {
  content: "タップして意味を表示";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: transparent;
  pointer-events: none;
  transition: all 0.1s;
}

.study-answer__mean {
  transition: all 0.1s;
}

.study-answer__mean span {
  display: inline-block;
  width: 25px;
  aspect-ratio: 1 / 1;
  margin: 0 8px 0 0;
  border: solid 1px var(--text-main);
  font-size: 0.85rem;
  text-align: center;
}

.study-answer__means.hidden::after {
  color: var(--text-sub);
}

.study-answer__means.hidden .study-answer__mean {
  opacity: 0;
}
