:root {
  --bg-main: #2e3e63;
  --text-main: #ffffff;
  --text-sub: #8899a6;
  /* #1f2e4c */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  background: var(--bg-main);
  color: var(--text-main);
  font-size: clamp(16px, 4vw, 24px);
  font-family: "M PLUS 1", sans-serif;
}

input,
textarea,
select,
button {
  font-size: clamp(16px, 4vw, 24px);
  font-family: "M PLUS 1", sans-serif;
}

a {
  color: var(--text-main);
}

.hide {
  display: none;
}

.container {
  padding: 25px;
}

.container h1 {
  margin: 0 0 20px 0;
}
